* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color:#6600ff;
}
#main{
    background: rgb(255, 255, 255);
}

nav {
  padding: 10px;
  text-align: right;
}
nav img{
  height: 150px;
  width: 300px;
  position: absolute;
  top: 8%;
  left: 14%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 10px;
  /* transform: rotate(-10deg); */
}

nav a {
  /* text-decoration: none; */
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s ease;
  background:#6600ff;
  color: white;
}
section {
  padding: 50px;
  text-align: center;
  background-color: rgba(44, 62, 80, 0.8);
  margin: 20px 0;
  border-radius: 10px;
}
#welcome{
    background: transparent;
    margin-top: 150px;

}
#about{
    background: transparent;
}
#contact{
    background: transparent;
}
#about img{
    height: 200px;
    width: 400px;
}
h1 {
  color: #1c2d31;
  font-size: 80px;
  margin-bottom: 20px;
  text-transform:uppercase;
}
h2 {
  color: #1a1b1f;
  font-size: 40px;
  margin-bottom: 10px;
  /* text-transform:uppercase; */
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color:#ffffff;
  color: #6600ff;
}

#about img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}
